@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Poppins:wght@300&display=swap');

body {
    margin: 0;
    background-image: url("../img/newjeans-background-main.png");
    background-repeat: no-repeat;
}
