/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Poppins:wght@300;900&display=swap');

.navbar-panel {
    height: 90px;
    border-bottom: solid 2px #3C3C3C;
    width: 100vw;
    position: sticky;
    top: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
}

.navbar-logo {
    height: 52px;
    width: 92px;
    margin-left: 35px;
    margin-top: 17px;
    -webkit-filter: drop-shadow(0px 4px 4px #3C3C3C);
    filter: drop-shadow(0px 4px 4px #3C3C3C)
}

.navbar-buttons-panel {
    margin-left: auto;
    align-items: center;
    display: flex;
}

.navbar-button {
    margin-right: 2vw;
    font-size: 15px;
    color: #3C3C3C;
}

.dark-underlined {
    font-weight: 900;
    filter: drop-shadow(0px 4px 6px #3C3C3C);
    text-decoration: underline;
}