<!DOCTYPE html>
<html>
    <head>
        <title> {{title}} </title>
        <meta name="viewport" content="width=device-width, initial-scale=0.6">

        <link rel="icon" type="image/png" href="static/img/newjeans-getup-logo.png">
        <link rel="stylesheet" type="text/css" media="all" href="static/css/index.css">
        <link rel="stylesheet" type="text/css" media="all" href="static/css/navbar.css">

        <script src="static/js/code.jquery.com_jquery-3.6.0.min.js"></script>
        <script src="static/js/navbar.js" defer></script>
    </head>
    <body>
        <div class="navbar-panel">
            <span class="navbar-logo-panel">
                <img class="navbar-logo" src="static/img/newjeans-getup-logo.png" alt="NewJeans Logo" title="NewJeans Logo">
            </span>
        
            <span class="navbar-buttons-panel">
                <span class="navbar-button" id="home-button">Home</span>
                <span class="navbar-button" id="members-button">Members</span>
                <span class="navbar-button" id="discography-button">Discography</span>
                <span class="navbar-button" id="awards-button">Awards</span>
                <span class="navbar-button" id="performances-button">Performances</span>
                <span class="navbar-button" id="gallery-button">Gallery</span>
            </span>
        </div>
    </body>
</html>